.img-form{
    display: none;
}

button:hover{
    cursor: pointer;
    background-color: rgb(251, 255, 0);
}

.conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7.7%;
    height: 90%;
}


.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(208, 151, 255);
}

.cabecalho{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 8%;
    border-bottom: 100%;
}

.cabecalho__entrar{
    font-size: 15px ;
    padding: 1px 8px;
    border-radius: 5px;
    background-color: var(--amarelo);
    color: var(--roxo);
    border: 0.1px solid;
}

.cabecalho__titulo{
    font-size: 30px;
    color: var(--roxo);
    border-bottom: 1px solid var(--roxo);
}

.input-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    margin-top: 8px ;
}

.input-box label{
    font-size: 15px;
    display: flex;
    align-items: center;
    color: var(--roxo);
    font-weight: 700;
    letter-spacing: 2.5px;
}

.input-box input{
    font-size: 18px;
    width: 100%;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
    color: rgb(211, 118, 252);
    background-color: rgb(240, 240, 240);
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.3);

}

.genero{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 50%;
}

.genero__titulo{
    height: 100%;
    font-size: 20px;
    margin: 1rem 0 0.3rem 0;
    color: var(--roxo);
}

.genero__input{
    display: flex;
    margin: 0.3rem 0;
    color: var(--roxo);
}

.genero__input input{
    margin-right: 0.3rem;
}

.continuar{
    font-size: 18px;
    height: 40px;
    width: 18rem;
    margin: 1.6rem 0;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.3);
    background-color: var(--amarelo);
    color: var(--roxo);
    font-weight: 700;
    border-radius: 5px;
    border: 0.1px solid;
}


.input-box.success input {
    border: 3px solid #4ECA64;
}

.input-box.error input {
    border: 3px solid #DB5A5A;
}

.input-box.error i.img-error {
    visibility: visible;
}

.input-box.success i.img-success {
    visibility: visible;
}

.input-box.error small{
    color: #DB5A5A;
    visibility: visible;
}

.input-box i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.input-box small {
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
    font-size: 14px;

}

