:root {
    --roxo: rgb(149, 64, 247);
    --amarelo: rgb(244, 247, 105);
}



body{
    font-size: 100%;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    background-color: blueviolet;
}
