:root {
    --roxo: rgb(149, 64, 247);
    --amarelo: rgb(244, 247, 105);
}



body {
    font-size: 100%;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    background-color: blueviolet;
}

img {
    display: none;
}

@media screen and (min-width: 1200px) {
    img {
        display: block;
    }

    .container {
        width: 80%;
    }

    img {
        width: 50%;
        height: auto;
        max-width: 28.5rem;
        border-radius: 15px 0px 0px 15px;
    }
    .form{
        width: 50%;
        border-radius: 1px;
    }
}